/* general CSS */
.krub-regular {
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 3vw;
    color: #30323D;
}

p{
    font-size: 1.5vw;
}

body{
    background-color: #e6e6e6;
    font-family: "Krub", sans-serif;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.nav-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
    background-color: #30323D;
}

.nav-links{
    width: 100%; 
    height: auto;
    overflow: hidden;

    a {
        font-size: 1.7vw;
        text-decoration: none;
        color: #ffffff;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 3vw;
        padding-bottom:3vw;
        display: inline-block;
    }
    a:hover{
        background-color: #B84A62;
    }
    a.active{
        background-color: #B84A62;
    }
}

#logo{
    max-width: 5.8vw;
    height: auto;
    padding-left: 2vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
}

#logoText{
    color: white;
    font-size: 2.5vw;
    margin-left: 0;
    font-weight: bold;
}

.nav-links .icon {
    display: none;
}

.hamburgerIcon{
    max-width: 5.8vw;
    height: auto;
    color: white;
}

footer{
    width: 100%;
    height: 5vh;
    text-align: center;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    bottom: 0;
    box-sizing: border-box;
    background-color: #30323D;
}

button{
    background-color: #B84A62;
    border: 2px solid #97374c;
    color: white;
    border-radius: 2vw;
    font-family: "Krub", sans-serif;
}

button:hover{
    background-color: #96374b;
    border: 2px solid rgb(121, 40, 57);
}

/* homepage CSS */
#introduction{
    padding: 2%;
    background-color: #ffe9ed;
    margin: 1%;
    border-radius: 2vw;
}

#tools{
    border-radius: 2vw;
    background-color: #ffe9ed;
    margin: 1%;
}

.intro-content{
    padding-top: 2%;
    margin-left: 3%;
}

.grid-container{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    overflow: hidden;
    /* margin: top right bottom left*/
    margin: 3vw 1% 1% 1%;
}

.card {
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
    position: relative;
    margin-bottom: 8vw;
    margin-left: auto;
    margin-right: auto;
}

.card-buttons{
    width: 15vw;
    height: 3vw;
    font-size: 1.5vw;
    margin-left: 5vw;
}

.card-content{
    /* margin: top right bottom left*/
    margin: 3vw 2vw 1vw 2vw;
    text-align: center;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s, left 0.8s;
    position: relative;
}

.card-inner:hover {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    border-radius: 10px;
    padding: 20px;
    color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-front {
    background-color: #fff;
}

.card-back {
    background-color: #30323D;
    color: #fff;
    transform: rotateY(180deg);
}

.image-placeholder {
    width: 100%;
    height: 100%;
    /* background-color: #424453; */
    margin-bottom: 20px;
}

.card-title {
    margin: 0;
}

/* tool CSS */
.tool-articles{
    padding: 2%;
    background-color: #ffe9ed;
    margin: 1%;
    border-radius: 2vw;
}

strong{
    font-size: 1.2vw;
}

/* resources CSS */

/* application CSS */


/* tablet CSS */
@media screen and (min-width: 600px) and (max-width: 1000px){
    .nav-container{
        grid-template-columns: 0.4fr 1.5fr 2fr;
    }
    
    .grid-container{
        margin-top: 4vw;
        grid-template-columns: auto auto;
    }
    .card{
        width: 35vw;
        margin-bottom: 13vw;
        height: 31vw;
    }
    #card3{
        margin-left: 65%;
    }

    .card-buttons{
        width: 20vw;
        height: 4vw;
        font-size: 2vw;
        margin-left: 7.5vw;
        margin-top: 1vw;
    }

    .nav-links{
        a{
            font-size: 2vw;
        }
    }

    p{
        font-size: 2vw;
    }

    h1{
        font-size: 4vw;
    }

    footer{
        font-size: 2vw;
    }
}

/* mobile CSS */
@media screen and (max-width: 600px) {
    .nav-container{
        grid-template-columns: 0.5fr 0.5fr 3fr;
    }
    
    .nav-links a:not(:first-child) {
        display: none;
    }

    .nav-links a.icon {
        float: right;
        display: block;
    }

    .nav-links.responsive
    {
        position: relative;
    }
    .nav-links.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-links.responsive a:not(:first-child) {
        float: none;
        display: block;
        text-align: left;
        font-size: 1em;
    }

    #logo{
        max-width: 8.8vw;
    }

    .grid-container{
        margin-top: 4vw;
        grid-template-columns: auto;
    }

    .card{
        width: 60vw;
        height: 50vw;
        margin-bottom: 13vw;
    }

    .card-title{
        font-size: 4vw;
    }

    .card-buttons{
        width: 35vw;
        height: 7vw;
        font-size: 3vw;
        margin-left: 12.5vw;
        margin-top: 2vw;
        border-radius: 4vw;
    }

    .card-content{
        margin-top: 10vw;
    }

    p{
        font-size: 3vw;
    }

    h1{
        font-size: 5vw;
    }

    footer{
        font-size: 2vw;
    }
}